################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MetroOne.Api/appsettings.json
# Ignore VS temp folders
.vs/
*.user
*.suo

# Build output
bin/
obj/

# Rider-specific
.idea/

# VS Code
.vscode/

# System
Thumbs.db
.DS_Store